<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- setup mybatis and spring -->
	<!-- 1: setup DB related settings -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${fuck.driver}"/>
		<property name="jdbcUrl" value="${fuck.url}"/>
		<property name="user" value="${fuck.username}"/>
		<property name="password" value="${fuck.password}"/>

	<!-- c3p0 connection pool private settings -->
		<property name="maxPoolSize" value="30" />
		<property name="minPoolSize" value="10" />
		<property name="autoCommitOnClose" value="false" />
		<property name="checkoutTimeout" value="1000" />
		<property name="acquireRetryAttempts" value="10" />
	</bean>
	
	<!-- 3: Mybatis SqlSessionFactory -->
	<bean id = "sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- Inject DB connection pool -->
		<property name="dataSource" ref="dataSource"/>
		<!-- MyBatis overall setting files -->
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
		<property name="typeAliasesPackage" value="org.seckill.entity"/>
		
		<!-- Scan sql setup files: mapper's xml files -->
		<property name="mapperLocations" value="classpath:mapper/*.xml"/>
	</bean>
	
	
	
	<!-- 4: Setup scan Dao interface package, dynamic implements interface, inject into Spring container -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- Inject sqlSessionFactory -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
		<!-- Provide Dao interface package need to be scanned-->
		<property name="basePackage" value="org.seckill.dao"/>
	</bean>
	
</beans>